<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<appender name="FILE-Hello" class="ch.qos.logback.core.FileAppender">
		<file>logs/hello.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE-Hello2" class="ch.qos.logback.core.FileAppender">
		<file>logs/hello2.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>


	<logger name="hello" level="debug">
		<appender-ref ref="FILE-Hello" />
	</logger>
	<logger name="hello2" level="debug">
		<appender-ref ref="FILE-Hello2" />
	</logger>
</configuration>